@font-face{
    font-family: 'ResonancePolice';
    src: url('../police/Aileron-Black.otf') format('opentype'),
    url('../police/Aileron-Light.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'ResonancePoliceLight';
    src: url('../police/Aileron-Light.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

body, input, textarea, button, select, option, li{
  font-family: 'ResonancePolice', 'Aileron', sans-serif;
}

body {
  margin: 0;
  background: url(./images/fond.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'ResonancePoliceLight';
}

form input,
form textarea {
  background-color: rgb(188, 142, 120, 0.8);  /* fond semi-transparent noir */
  color: white;                          /* texte en blanc */
  border: 1px solid white;               /* bordure blanche */
  padding: 8px;
  border-radius: 5px;
  font-family: 'ResonancePoliceLight';
}

/* Placeholder en gris clair */
form input::placeholder,
form textarea::placeholder {
  color: #ddd; /* couleur des placeholders */
}

textarea {
  height: 80px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(188, 142, 120, 0.8);  /* fond semi-transparent noir */
  color: white;  
  font-family: 'ResonancePoliceLight';
  border: 1px solid white;
  border-radius: 5px;
}

button:hover {
  font: bold;
  background-color: rgb(210, 142, 120);
}

li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font-family: 'ResonancePoliceLight';
}

h1,
h2 {
  font-family: 'ResonancePolice';
  color: #ffffff;
}

form, #messages li, #messages li .message {
  font-family: 'ResonancePoliceLight';
}

input::placeholder,
textarea::placeholder {
    font-family: 'ResonancePoliceLight';
}

.page-center {
  width: 600px;
  max-width: 90%;
}

#messages {
  width: 600px;
  max-width: 90%;   /* optionnel si responsive */
  margin: 20px auto 0 auto; /* espace depuis le formulaire */
  padding: 0;
}

#messages li {
  margin-bottom: 0 0 15px 0;
  padding: 10px;
  list-style: none;
  background: rgba(255, 255, 255, 0.3); /* fond semi-transparent */
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* empile header + message */
}

#messages li .header {
  display: flex;
  justify-content: space-between; /* nom à gauche, poubelle à droite */
  align-items: center;
  margin-bottom: 5px;
}

#messages li .header-left {
  display: flex;
  gap: 10px;        /* espace entre nom et date */
  align-items: center;
}

#messages li .name {
  font-weight: bold;
  color: white;
}

#messages li .message {
  color: white;
}

#messages li .date {
  font-size: 0.8em;
  color: #ddd;
  text-align: right;
}