@font-face{
    font-family: 'ResonancePolice';
    src: url('../police/Aileron-Black.otf') format('opentype'),
    url('../police/Aileron-Light.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'ResonancePoliceLight';
    src: url('../police/Aileron-Light.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

body {
  font-family: 'ResonancePolice';
  margin: 0;
  background: url(./images/fond.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'ResonancePoliceLight';
}

textarea {
  height: 80px;
}

button {
  padding: 10px;
  cursor: pointer;
}

li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font-family: 'ResonancePoliceLight';
}

button {
    font-family: 'ResonancePoliceLight';
}

h1,
h2 {
    color: #c72a09;
}

input::placeholder,
textarea::placeholder {
    font-family: 'ResonancePoliceLight';
}

.page-center {
  width: 600px;
  max-width: 90%;
}

.delete-btn {
  font-size: 24px;
  background: none;
  border: solid #c72a09;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.2s;
}

.delete-btn:hover {
  transform: scale(1.2); /* effet petit zoom au survol */
}